/*
author: Andrew Scida
date:10/17/2023
*/
/*place holder background image*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    background-image: url("../images/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
a {
    color: white;
    text-decoration: none;
}
 #navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-size: larger;
  outline: thin rgb(213, 84, 19) solid;
}

#about, #socials, #logo, #booking, #music {
  list-style-type: none;
  text-align: center;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 15px;
  margin-bottom: 10px;
}
.row {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    flex-wrap: wrap;
    max-height: 50%;
    min-height: 50%;
}

.col {
   flex: 2;
}
#youtube {
    outline: thick rgb(213, 84, 19) solid;
    margin-left: 10%;
    width: 560px;
    height: 315px;
}

 .promo {
    border: thin solid rgb(255, 255, 255);
    color: black;
    margin-right: 10%;
    text-align: center;
    padding: 0px;
    width: 560px;
    height: 315px;
    background-color: rgba(255, 255, 255, 0.606);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    justify-content: center;
    align-items: center;
    outline: thin white solid;
    background-color: rgba(255, 255, 255, 0.606);
    display: flex;
    margin-top: 40px;
    height: 300px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 10px;
}

#formname, #formemail{
    margin-bottom: 30px;
}

#submit {
    position: relative;
    align-items: center;
}

#spotifyem {
    border: 20px;
    margin: 20px;
    width: 50%;
    display: flex;
    margin: auto;
    margin-top: 100px;
    height: 570px;
}