/*
author: Andrew Scida
date:10/17/2023
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    background-image: url("../images/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

a {
    color: white;
    text-decoration: none;
    font-family: playfair display;
}

.newsong {
  text-emphasis: bold;
}

 #navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-size: larger;
  outline: 4px rgb(213, 84, 19) solid;
  margin: 4px;
}

#button {
  height: 35px;
  width: 70px;
  border-radius: 30px;
}
/*navigation current page color (not functional)*/
nav a.current-page {
  background: black;
  color: rgb(213, 84, 19) ;
}

#about, #socials, #logo, #booking, #music {
  list-style-type: none;
  text-align: center;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 15px;
  margin-bottom: 10px;
}
.row {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    flex-wrap: wrap;
    max-height: 50%;
    min-height: 50%;
}

.col {
   flex: 2;
}
#youtube {
    outline: thick rgb(213, 84, 19) solid;
    margin-left: 10%;
    width: 560px;
    height: 315px;
}

 .promo {
    border: thin solid rgb(255, 255, 255);
    color: black;
    margin-right: 10%;
    text-align: center;
    padding: 0px;
    width: 560px;
    height: 315px;
    background-color: rgba(255, 255, 255, 0.606);
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 50px;
    
}

/* booking page */

.form {
    justify-content: center;
    align-items: center;
    outline: thin white solid;
    background-color: rgba(255, 255, 255, 0.606);
    display: flex;
    margin-top: 40px;
    height: 300px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 10px;
}

#submit {
  margin-left: 50px;
  margin-top: 20px;
  padding: 5px;
  border-radius: 20px;;
}

#formname, #formemail{
    margin-bottom: 30px;
    align-items: auto;

}

#submit {
    position: relative;
    align-items: center;
}

#spotifyem {
    border: 20px;
    margin: 20px;
    width: 50%;
    display: flex;
    margin: auto;
    margin-top: 100px;
    height: 570px;
}



/* about page */
#about-image {
  height: 300px;
  outline: medium gray solid;
  margin-top: 200px;
  margin-left: 100px;

  
}

#about-text {
  background-color: rgb(213, 84, 19);
  margin-left: 600px;
  margin-top: -200px;
  width: 500px;
  flex-wrap: wrap;
  
}
